---
downloads: ~/.ansible-downloads/

configure_dotfiles: true
configure_terminal: true
dotfiles_repo: https://github.com/hugoprudente/dotfiles.git
dotfiles_repo_accept_hostkey: true
dotfiles_repo_local_destination: ~/personal/dotfiles
dotfiles_files:
  - orig: oh-my-zsh/zshrc
    dest: .zshrc
  - orig: nvim
    dest: .config/nvim
  - orig: tmux/tmux.conf
    dest: .tmux.conf
  - orig: tmux/tmux.conf.local
    dest: .tmux.conf.local
dotfiles_configure_ohmyzsh: false
dotfiles_configure_bashit: false
dotfiles_configure_starship: true

# Homebrew
homebrew_taps:
  - homebrew/core
  - homebrew/cask

homebrew_installed_packages:
  - pv
  - bat
  - ripgrep

apt_installed_packages:
  - pv
  - bat
  - neovim
  - htop
  - tmux
  - terminator
  
# Kubernetes
configure_kubernetes: true
kuberentes_repository_packages:
  - repo: "deb https://apt.kubernetes.io/ kubernetes-xenial main"
    key: https://packages.cloud.google.com/apt/doc/apt-key.gpg
  - repo: "deb https://baltocdn.com/helm/stable/debian/ all main"
    key: https://baltocdn.com/helm/signing.asc
kubernetes_installed_packages:
  - helm
  - kubectl

# Containers
configure_docker: false
configure_podman: false
